_site
.jekyll-cache
pages/.DS_Store
pages/tags.md
_notes/.obsidian
_notes/Public/.obsidian
# Obsidian settings
.obsidian/
.trash/

# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
_notes/Private/
